Web/Connected Services/LeafService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/LeafService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model.ModelObjects" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/LeafService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Model.ModelLists" />
  <xs:element name="selectLeaves">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model.ModelObjects" minOccurs="0" name="leaftype" type="q1:Enums.leaves" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectLeavesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model.ModelLists" minOccurs="0" name="selectLeavesResult" nillable="true" type="q2:LeavesList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>