Web/Connected Services/StoryService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model.ModelObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model.ModelObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/StoryService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Model" />
  <xs:complexType name="categoryGroup">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Model" base="q1:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="category" nillable="true" type="tns:Category" />
          <xs:element minOccurs="0" name="story" nillable="true" type="tns:Story" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="categoryGroup" nillable="true" type="tns:categoryGroup" />
  <xs:complexType name="Category">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Leaf">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="Leaf">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Model" base="q2:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="Type" nillable="true" type="tns:LeafType" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Leaf" nillable="true" type="tns:Leaf" />
  <xs:complexType name="LeafType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Model" base="q3:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LeafType" nillable="true" type="tns:LeafType" />
  <xs:complexType name="Story">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Model" base="q4:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ageBarrier" nillable="true" type="tns:AgeBarrier" />
          <xs:element minOccurs="0" name="category" nillable="true" type="tns:Category" />
          <xs:element minOccurs="0" name="datePublished" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="header" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="imageLink" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="language" nillable="true" type="tns:Language" />
          <xs:element minOccurs="0" name="price" type="xs:double" />
          <xs:element minOccurs="0" name="status" nillable="true" type="tns:Status" />
          <xs:element minOccurs="0" name="user" nillable="true" type="tns:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Story" nillable="true" type="tns:Story" />
  <xs:complexType name="AgeBarrier">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Leaf">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgeBarrier" nillable="true" type="tns:AgeBarrier" />
  <xs:complexType name="Language">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Leaf">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Language" nillable="true" type="tns:Language" />
  <xs:complexType name="Status">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Leaf">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Model" base="q5:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="auth" nillable="true" type="tns:Auth" />
          <xs:element minOccurs="0" name="birthDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="creationDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="Auth">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Leaf">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Auth" nillable="true" type="tns:Auth" />
  <xs:complexType name="Chapter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/Model" base="q6:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="chapterNumber" type="xs:int" />
          <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="story" nillable="true" type="tns:Story" />
          <xs:element minOccurs="0" name="topic" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Chapter" nillable="true" type="tns:Chapter" />
</xs:schema>