Web/Connected Services/StoryService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model.ModelLists" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model.ModelLists" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/StoryService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Model.ModelObjects" />
  <xs:complexType name="ServedFullStory">
    <xs:sequence>
      <xs:element minOccurs="0" name="categoryGroup" nillable="true" type="tns:CategoryGroupList" />
      <xs:element minOccurs="0" name="stories" nillable="true" type="tns:StoriesList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServedFullStory" nillable="true" type="tns:ServedFullStory" />
  <xs:complexType name="CategoryGroupList">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Model.ModelObjects" minOccurs="0" maxOccurs="unbounded" name="categoryGroup" nillable="true" type="q1:categoryGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryGroupList" nillable="true" type="tns:CategoryGroupList" />
  <xs:complexType name="StoriesList">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Model.ModelObjects" minOccurs="0" maxOccurs="unbounded" name="Story" nillable="true" type="q2:Story" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StoriesList" nillable="true" type="tns:StoriesList" />
  <xs:complexType name="ChaptersList">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Model.ModelObjects" minOccurs="0" maxOccurs="unbounded" name="Chapter" nillable="true" type="q3:Chapter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChaptersList" nillable="true" type="tns:ChaptersList" />
</xs:schema>