Web/Connected Services/StoryService/StoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="StoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/StoryService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/StoryService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/StoryService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Model.ModelLists" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/StoryService/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Model.ModelObjects" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WCF/StoryService/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStoryService_SelectStories_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectStories" />
  </wsdl:message>
  <wsdl:message name="IStoryService_SelectStories_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectStoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IStoryService_AddNewStory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewStory" />
  </wsdl:message>
  <wsdl:message name="IStoryService_AddNewStory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewStoryResponse" />
  </wsdl:message>
  <wsdl:message name="IStoryService_UpdateStory_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStory" />
  </wsdl:message>
  <wsdl:message name="IStoryService_UpdateStory_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStoryResponse" />
  </wsdl:message>
  <wsdl:message name="IStoryService_DeleteStory_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStory" />
  </wsdl:message>
  <wsdl:message name="IStoryService_DeleteStory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStoryResponse" />
  </wsdl:message>
  <wsdl:message name="IStoryService_SelectChapters_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectChapters" />
  </wsdl:message>
  <wsdl:message name="IStoryService_SelectChapters_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectChaptersResponse" />
  </wsdl:message>
  <wsdl:message name="IStoryService_AddNewChapter_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewChapter" />
  </wsdl:message>
  <wsdl:message name="IStoryService_AddNewChapter_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewChapterResponse" />
  </wsdl:message>
  <wsdl:message name="IStoryService_UpdateChapter_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateChapter" />
  </wsdl:message>
  <wsdl:message name="IStoryService_UpdateChapter_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateChapterResponse" />
  </wsdl:message>
  <wsdl:message name="IStoryService_DeleteChapter_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteChapter" />
  </wsdl:message>
  <wsdl:message name="IStoryService_DeleteChapter_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteChapterResponse" />
  </wsdl:message>
  <wsdl:portType name="IStoryService">
    <wsdl:operation name="SelectStories">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoryService/SelectStories" message="tns:IStoryService_SelectStories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoryService/SelectStoriesResponse" message="tns:IStoryService_SelectStories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewStory">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoryService/AddNewStory" message="tns:IStoryService_AddNewStory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoryService/AddNewStoryResponse" message="tns:IStoryService_AddNewStory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStory">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoryService/UpdateStory" message="tns:IStoryService_UpdateStory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoryService/UpdateStoryResponse" message="tns:IStoryService_UpdateStory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStory">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoryService/DeleteStory" message="tns:IStoryService_DeleteStory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoryService/DeleteStoryResponse" message="tns:IStoryService_DeleteStory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectChapters">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoryService/SelectChapters" message="tns:IStoryService_SelectChapters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoryService/SelectChaptersResponse" message="tns:IStoryService_SelectChapters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewChapter">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoryService/AddNewChapter" message="tns:IStoryService_AddNewChapter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoryService/AddNewChapterResponse" message="tns:IStoryService_AddNewChapter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateChapter">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoryService/UpdateChapter" message="tns:IStoryService_UpdateChapter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoryService/UpdateChapterResponse" message="tns:IStoryService_UpdateChapter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteChapter">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoryService/DeleteChapter" message="tns:IStoryService_DeleteChapter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoryService/DeleteChapterResponse" message="tns:IStoryService_DeleteChapter_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStoryService" type="tns:IStoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectStories">
      <soap:operation soapAction="http://tempuri.org/IStoryService/SelectStories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewStory">
      <soap:operation soapAction="http://tempuri.org/IStoryService/AddNewStory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStory">
      <soap:operation soapAction="http://tempuri.org/IStoryService/UpdateStory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStory">
      <soap:operation soapAction="http://tempuri.org/IStoryService/DeleteStory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectChapters">
      <soap:operation soapAction="http://tempuri.org/IStoryService/SelectChapters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewChapter">
      <soap:operation soapAction="http://tempuri.org/IStoryService/AddNewChapter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateChapter">
      <soap:operation soapAction="http://tempuri.org/IStoryService/UpdateChapter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteChapter">
      <soap:operation soapAction="http://tempuri.org/IStoryService/DeleteChapter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StoryService">
    <wsdl:port name="BasicHttpBinding_IStoryService" binding="tns:BasicHttpBinding_IStoryService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF/StoryService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>